<?xml version="1.0"?>
<config>
    <modules>
        <Webguys_Telefonkeinpflicht>
            <version>1.0.0.0</version>
        </Webguys_Telefonkeinpflicht>
    </modules>

    <global>

        <resources>
            <telefonkeinpflicht_setup>
                <setup>
                    <module>Webguys_Telefonkeinpflicht</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </telefonkeinpflicht_setup>
        </resources>

        <models>
            <sales>
                <rewrite>
                    <quote_address>Webguys_Telefonkeinpflicht_Model_Sales_Quote_Address</quote_address>
                    <order_address>Webguys_Telefonkeinpflicht_Model_Sales_Order_Address</order_address>
                    <quote_address>Webguys_Telefonkeinpflicht_Model_Sales_Quote_Address</quote_address>
                </rewrite>
            </sales>
            <customer>
                <rewrite>
                    <address>Webguys_Telefonkeinpflicht_Model_Customer_Address</address>
                </rewrite>
            </customer>
        </models>
    </global>

    <frontend>
        <events>
            <core_block_abstract_to_html_after>
                <observers>
                    <telefonkeinpflicht>
                        <class>Webguys_Telefonkeinpflicht_Model_Observer</class>
                        <method>core_block_abstract_to_html_after</method>
                    </telefonkeinpflicht>
                </observers>
            </core_block_abstract_to_html_after>
        </events>
    </frontend>
    

</config>
